@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Apply the Roboto font globally */
body, #chatHeader, #chatMessages, #chatPrompt, #sendChat {
    font-family: 'Roboto', sans-serif;
}

/* Large chatbox */
.large {
    width: 600px;
    height: 80vh;
}

/* Chatbox */
#chatBox {
    position: fixed; /* Make it fixed so it stays at the bottom-right */
    bottom: 80px;    /* Same as parent iframe bottom margin */
    width: calc(100% - 40px);
    margin: 0 20px;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10000; /* Ensure it stays above other elements */
    transition: width 0.5s ease, height 0.5s ease;
}

/* Chatbox header */
#chatHeader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #004A3E;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;  /* Padding to give some space */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);  /* Add a shadow for separation */
}

/* Logo image styling */
#chatLogo {
    position: absolute;
    left: 20px;
    width: 50px;    /* Set a fixed width */
    height: 50px;   /* Set a fixed height */
    object-fit: cover;  /* Crop the image to fit within the box */
    border-radius: 5px; /* Optional: add rounded corners to match the chatbox style */
}

/* Resize button */
#resizeButton {
    background-color: rgba(102, 224, 224, 1);
    color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 24px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 20px;
}

/* Chat messages area (flex-grow allows this section to expand) */
#chatMessages {
    flex-grow: 1;  /* This will take up the remaining space */
    overflow-y: auto;
    padding: 10px;
    font-size: 14px;
}

/* Chat input area */
#chatInputContainer {
    display: flex;
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}


#chatPrompt {
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

#sendChat {
    background-color: rgba(102, 224, 224, 1);
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#sendChat:hover {
    background-color: #0056d6;
}
